/*Style sheet by Ashmita, 2024*/
body{
    margin:0;
}
#mapid{
    height:600px;
    width:1100px;
    display: inline-block;
}
#panel {    
    width: 16%;    
    padding: 4px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 22px;
    background-color: rgba(245, 241, 241,0.8);

}
#mapTitle{
    width: 1080px;  
    height: 30px;  
    background-color: rgba(245, 241, 241,0.8);  
    padding: 10px;  
    text-align: center;
    font-size:x-large;

}
.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(245, 241, 241,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  
.legend-control-container{
    width: 230px;  
    height: 160px;  
    background-color: rgba(245, 241, 241, 0.8);  
    padding: 2px;  
    line-height: 10px;  
    text-align: center;  
    border: solid gray 1px; 
}
.range-slider {  
    width: 250px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height:auto;
}  

#forward {
    float: right;
}
    
#reverse {  
    float: left;  
}
.leaflet-popup-content p {
    margin: 0.2em 0;
}
